{% extends "shared/external/theme_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "VTP: Terms and Conditions" %}{% endblock %}


{% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}shared/css/terms.css" type="text/css" media="all"/>
{% endblock %}

{% block content_header %}{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block search_menu %}{% endblock %}
{% block login_menu %}{% endblock %}
{% block content_breadcrumb %}{% endblock %}

{% block content %}
    <a name="top"></a>

    <div class="ui-layout">

    <div class="goBack pull-right"><a href="javascript:close();">Close</a></div>

    <div id="view-holder" class="ui-layout-content">
    <div class="dashRow">

    <div class="FAQ" style="margin-left:15px">
    <h1>Terms and Conditions</h1>
    </div>

    <div class="FAQ_BodyText">
        <p>
            The following Terms and Conditions of Service constitute a legally binding agreement 
            (the "Agreement") between you ("You" or the "Client") and VIA, Inc. ("VIA") regarding 
            use of the viadelivers.com Web site ("Site") and/or translation and editing services 
            ("Services") rendered or to be rendered by VIA.

        </p>

        <p>
            By accessing or using the Site or Services, You therefore agree to be bound by these
            Terms and Conditions of Service. If You and the entity that you represent in this
            process do not wish to be bound by these Terms and Conditions of Service, You may
            not access or use the Site or Services.&nbsp; You warrant that you have the right
            to bind the entity you represent to these terms and conditions. &nbsp;
        </p>

        <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    </div>
    <div class="FAQ_Subhead"> I. GENERAL USAGE CONDITIONS
    </div>
    <div class="FAQ_BodyText">
        <p>
            1.1 The Site is a communications medium by which consumers can have access to and
            use Services offered by VIA.
        </p>

        <p>
            1.2 Prior to using such Services, You must properly complete the account registration
            ("Account"), which is available on the Site. Unless otherwise permitted by VIA, Inc.,
            only an individual, acting either in his or her individual capacity or on behalf
            of a company, may be an account holder on the Site ("Account Holder"). An Account
            Holder may only have one Account, which is non-transferable. &nbsp;From time to
            time VIA, Inc. may permit its resellers and other distribution partners to create
            an Account for such party’s customers.&nbsp; In such event, the distribution partner
            is obligated to provide these terms to its customer and obtain such customer’s written
            consent with respect to such terms.&nbsp; &nbsp;</p>

        <p>
            1.3 Account Holder Warranties:
            <br/>
            (a) As an Account Holder, You represent and warrant that You are at least 18 years
            of age and possess the legal authority to enter into this Agreement and to use this
            Site in accordance with all Terms and Conditions of Service herein. You agree to
            supervise and be responsible for any and all usage of the Site under Your Account,
            including any username and/or password associated with the Account. Any such use
            shall be deemed to constitute use by You and must comply with all the Terms and
            Conditions applicable to Your use. You also represent and warrant that all information
            supplied by You is and will be true and accurate. You agree not to submit any speculative,
            false or fraudulent information. You agree that You will use the Services of this
            Site only for legitimate and lawful purposes. Where the Account Holder is a business
            entity, You represent and warrant that You have the authority to bind such entity
            to these Terms and Conditions of Service and will indemnify VIA in the event such
            entity dispu tes Your authority to so bind such entity.
            <br/>
            (b) You represent and warrant that You own or are the owner or authorized licensee
            of the Source Material(s) (defined below) and all components thereof, and that reproduction,
            translation, adaptation, and transmission of the Source Material(s) through the
            Site or Services shall not infringe upon any copyright, trademark, patent, trade
            secret, privacy or other right of any third party.
            <br/>
            (c) By submitting any Source Material(s) to the Site or using the Services, You
            thereby represent and warrant that the owner of such Source Material(s) has expressly
            granted to VIA the royalty-free, perpetual, irrevocable, non-exclusive right and
            license to use, reproduce, translate, modify, adapt, publish, transmit, create derivative
            works from, distribute, perform and display such Source Material(s) in an electronic
            environment or any other medium now known or later developed to the extent necessary
            to perform the Services requested by You.
            <br/>
            (d) By using the Site or Services, You agree not to upload to, distribute, or otherwise
            publish through the Site, any Source Material(s) that is harassing, abusive, threatening,
            libelous, defamatory, obscene, pornographic, profane, sexually explicit, otherwise
            in violation of any law or that we may, for any reason, find inappropriate, including,
            without limitation, any criminal, trademark or copyright law. You shall not upload
            Source Material(s) (i) that encourages or promotes illegal activity, (ii) that discusses
            illegal activities with the intent to commit them, or (iii) that may give rise to
            civil or criminal liability in any way, or which violates federal, state, or local
            laws. You shall not upload materials intended to be used for the transmission of
            unsolicited e-mails (spam) or faxes. You shall not in any manner impersonate anyone
            else or misrepresent Your true identity.
            <br/>
            (e) You represent and warrant at all times that the Source Material(s) You upload
            to the VIA servers or Site for all Services will be free from infection or viruses,
            worms, Trojan horses or other destructive code.
        </p>

        <p>
            1.4 As an Account Holder, You must keep confidential and not send or disclose Your
            username or password to anybody other than VIA. You must not store Your username
            or password in any form in any location where either one is capable of being read
            by anybody other than Yourself. You must not permit any other person, other than
            persons having Your express permission and under Your personal supervision, to use
            Your username and password to access and use the Services. You accept and assume
            total responsibility for all aspects of use of the Services by all persons using
            Your username and password.
        </p>

        <p>
            1.5 VIA reserves the right in its sole discretion to refuse to provide the Services
            at any time, to modify the features and functionality of the Services or to discontinue
            the Services, in whole or in part, at any time.
        </p>

        <p>
            1.6 By using the Site or Services, You agree that VIA may suspend or deny further access to the Site or the
            Services for any reason whatsoever, or for no reason at
            all, including, without limitation, breach of these Terms and Conditions.
        </p>

        <p>
            1.8 You hereby agree to indemnify, defend and hold harmless VIA and its past and
            present officers, directors, owners, agents, information providers, affiliates,
            licensors and licensees (collectively, the "Indemnified Parties") from and against
            any and all liability or costs incurred by the Indemnified Parties in connection
            with any and all actions, claims, suits, demands, liabilities, costs or expenses
            arising out of or in any way connected to any breach by You, or by any other person
            using Your Account identification, of these Terms and Conditions, or otherwise arising
            from the use of the Site, Services or Deliverables, including, without limitation,
            reasonable attorney fees. You agree to defend, indemnify and hold harmless VIA from
            any and all costs, expenses, liabilities, actions or fines arising out of, or in
            any way connected with, the materials, texts, documents, software or other items
            delivered to VIA under a specific translation request or its use by VIA to perform
            the Services requested by You but excluding any infringement of copyright arising
            from the fault of VIA. You shall cooperate as fully as reasonably required in the
            defense of any claim. VIA reserves the right, at its own expense, to assume the exclusive
            defense and control of any matter otherwise subject to indemnification by You.
        </p>

        <p>
            1.9 VIA reserves the right, at its sole discretion, to vary and develop the elements
            of the Services offered on the Site and to add or delete modules, languages, or
            any other elements from time to time. VIA also reserves the right to amend these
            Terms and Conditions of Service from time to time. We encourage You to review these
            Terms and Conditions of Service upon each visit to the Site because any changes
            will be binding upon You.
        </p>

        <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    </div>
    <div class="FAQ_Subhead">
        II. SITE CONTENT AND INTELLECTUAL PROPERTY
    </div>
    <div class="FAQ_BodyText">
        <p>
            2.1 All rights to the Content (defined below) and Services of the Site are exclusively
            reserved to VIA. You acknowledge that the Site may contain information, communications,
            software, photos, text, video, graphics, music, sounds, images, methodologies, innovations,
            know-how, databases and other material and services ("Content"), which are provided
            by VIA or by licensors of VIA. You agree and acknowledge that the Content and its
            use, and the use of this Site, are protected by copyright, trademark, and other
            intellectual property laws, that these rights are valid and protected in all media
            now existing or later developed, and that except as specifically provided for in
            this Agreement, Your use of the Content shall be governed and constrained by applicable
            copyright, trademark and other intellectual property laws.
        </p>

        <p>
            2.2 The Site is protected by copyright as a collective work and/or compilation,
            pursuant to United States copyright laws, international conventions and other copyright
            laws. Except as set forth in this Agreement, You may not, in whole or in part, modify,
            adapt, translate, exhibit, publish, transmit, participate in the transfer or sale
            of, reproduce (except as expressly provided in this section of the Terms and Conditions
            of Service), create derivative works from, distribute, perform, display, reverse
            engineer, decompile or dissemble, or in any way exploit, any of the Content, software,
            or materials used in connection with the Site.
        </p>

        <p>
            2.3 Copying or storage of the Content of the Site is expressly prohibited without
            the prior written permission from VIA. Your use of the Services does not create a
            license or any other rights to VIA trademarks, copyrights, patent rights, database
            rights, or sui generis rights, or any other intellectual property or proprietary
            rights.
        </p>

        <p>
            2.4 All right, title, and interest in and to the material(s) You provide to VIA or
            through the Site and/or in order for VIA to perform the Services ("Source Material(s)")
            and, except as hereunder provided, the Deliverable(s) (defined below), and any and
            all patent rights, copyright, know-how, and trade secrets therein are and remain
            Your sole and exclusive property. By submitting Source Material(s), You hereby grant
            to VIA, or warrant that the intellectual property rights owner grants, a non-exclusive
            license to modify, adapt, translate, exhibit, publish, transmit, reproduce, create
            derivative works from, distribute, perform, display or otherwise use the Source
            Material(s) in the course of performing the Services. This license shall terminate
            upon payment by You in full for the Services and Deliverables requested from VIA.
        </p>

        <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    </div>
    <a name="services"></a>

    <div class="FAQ_Subhead">
        III. PROCESS FOR USE OF SERVICES
    </div>
    <div class="FAQ_BodyText">
        <p>
            3.1 After an Account is created, you should follow the instructions to utilize the
            Services.&nbsp;
        </p>

        <p>
            3.2 You can request a translation or English edit by uploading and submitting Source
            Material(s) to the Site. The final translated version of such Source Material(s)
            will be referred to as the "Deliverable".
        </p>

        <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    </div>
    <div class="FAQ_Subhead">
        IV. DISCLAIMERS APPLICABLE TO ALL SERVICES, DELIVERABLES AND USE OF THE SITE
    </div>
    <div class="FAQ_BodyText">
        4.1 THE SITE, THE SERVICES, THE DELIVERABLES AND ANY OTHER MATERIALS PROVIDED BY
        VIA OR THIRD PARTIES THROUGH VIADELIVERS.COM, OR AS A RESULT OF THE SERVICES, ARE
        PROVIDED ON AN "AS IS" BASIS. VIA MAKES NO, AND EXPRESSLY DISCLAIMS ANY, REPRESENTATIONS,
        CONDITIONS OR WARRANTIES, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, AS TO MERCHANTABILITY,
        MERCHANTABILE QUALITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, TITLE, NON-INFRINGMENT
        OF THE SITE, SERVICES OR DELIVERABLES, OR ANY OTHER WARRANTY, CONDITION, GUARANTY,
        OR REPRESENTATION, WHETHER ORAL, IN WRITING OR IN ELECTRONIC FORM, INCLUDING, WITHOUT
        LIMITATION, THE ACCURACY, TIMELINESS OR USEFULLNESS OF ANY OF THE CONTENT, MATERIALS,
        TRANSLATIONS OR SERVICES PROVIDED THROUGH THE SITE. VIA ALSO EXPRESSLY DISCLAIMS
        THE APPLICATION OF ANY PROVISIONS OF THE UNITED NATIONS CONVENTION ON CONTRACTS
        FOR THE INTERNATIONAL SALE OF GOODS (ALSO COMMONLY REFERRED TO AS THE VIENNA CONVENTION)
        AND ANY LAWS INTENDED TO INCORPORATE THE PROVISIONS OF SUCH CONVENTION INTO LOCAL
        LAWS.&nbsp; BY SUBMITTING AN ORDER TO VIA, Inc., YOU ACKNOWLEDGE THAT VIA, Inc.
        USES OUTSOURCED LEGAL AND ADMINISTRATIVE SERVICES, SOME OF WHICH MAY BE PROVIDED
        BY SERVICE PROVIDER LOCATED OUTSIDE OF THE UNITED STATES. CLIENT UNDERSTANDS THAT
        VIA, Inc. IS NOT A LAW FIRM, DOES NOT PRACTICE LAW OR PROVIDE LEGAL ADVICE AND
        ANY COMMUNICATIONS BETWEEN CLIENT AND VIA, Inc. SHOULD NOT BE CONSIDERED PROTECTED
        UNDER ATTORNEY /CLIENT PRIVILEGE OR WORK PRODUCT DOCTRINE.<br/>
        <br/>

        <p>
            4.2 VIA SHALL NOT BE RESPONSIBLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT OR INDIRECT,
            CONSEQUENTIAL, INCIDENTAL, SPECIAL, PUNITIVE OR EXEMPLARY DAMAGE, OR ANY LOSS INCURRED
            (INCLUDING BUT NOT LIMITED TO LOSS PROFITS, LOST REVENUES OR LOSS OF DATA) IN CONNECTION
            WITH YOUR USE OF THE SITE, SERVICES OR DELIVERABLES PROVIDED BY VIA (OR THIRD PARTIES
            ON BEHALF OF VIA), OR ANY DAMAGE OR LOSS DUE TO INTERRUPTIONS, DELETIONS OF FILES,
            ERRORS, DEFECTS, OR DELAYS IN PERFORMANCE, REGARDLESS OF THE CLAIM AS TO THE NATURE
            OF THE CAUSE OF ACTION, EVEN IF VIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE
            OR LOSS. THE EXCLUSIONS OF AND LIMITATIONS ON LIABILITY CONTAINED IN THESE TERMS
            AND CONDITIONS OF SERVICE SHALL APPLY REGARDLESS OF THE NATURE OR SOURCE OF THE
            LOSS OR DAMAGE, WHETHER ARISING IN CONTRACT (INCLUDING FUNDAMENTAL BREACH), TORT
            (INCLUDING NEGLIGENCE), WARRANTY OR OTHERWISE.
        </p>

        <p>
            4.3 VIA MAKES NO REPRESENTATION, WARRANTY OR GUARANTEE, EXPRESS OR IMPLIED, ABOUT
            THE DOCUMENT TRANSLATION/EDITING SERVICE, INCLUDING, WITHOUT LIMITATION, AVAILABILITY,
            ACCURACY, COMPLETENESS OR TIMELINESS OF ANY DOCUMENT TRANSLATION. VIA DOES NOT WARRANT
            THE AVAILABILITY OF THE TRANSLATION SERVICE AS SUCH OR FOR ALL LANGUAGE PAIRS AT
            ALL TIMES. YOUR CHOICE TO RELY UPON VIA TRANSLATIONS OR SERVICES IS AT YOUR OWN RISK.
        </p>

        <p>
            4.4 In no event shall the total aggregate liability of VIA to anyone (including Client)
            relating to the Site, the Services, the Deliverables or otherwise arising from these
            Terms and Conditions of Service exceed the amount paid by You and received by VIA
            in consideration of a specific translation request. You agree to indemnify and hold
            harmless VIA from any cumulative liability to anyone (including Client) which exceeds
            such limitation.</p>

        <p>
            4.5&nbsp; If you acquire the Services and/or Deliverables from one of VIA, Inc.’s
            distribution partners, VIA, Inc. is not responsible for any acts or omissions
            of such party and shall assume no liability in connection therewith.&nbsp; The foregoing
            applies whether VIA, Inc. is fulfilling the Services itself or is providing subcontracted
            services to the partner who then provides services and deliverables to its customer.
            &nbsp; &nbsp;</p>

        <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    </div>
    <div class="FAQ_Subhead">
        V. TRANSLATION &amp; EDITING SERVICES
    </div>
    <div class="FAQ_BodyText">
    <p>
        5.1 Source Material(s) may only be submitted in the format specified on the Site.
        When submitting Source Material(s), You may specify a requested completion date.
        VIA shall make reasonable efforts to meet Your requirements; however, late delivery
        shall not entitle You to withhold payment for work done. VIA EXPRESSLY DISCLAIMS
        ALL LIABILITY FOR ANY CLAIMS RESULTING FROM DELAYS IN THE SERVICE. All Source Material(s)
        or other property supplied to VIA will be held and processed by VIA at Your risk and VIA will not be responsible for
        the consequential loss or damage thereto. You should
        retain copies of all submitted Source Material(s) for Your records.
    </p>

    <p>
        5.2 Price Quotes: The pricing terms set forth below shall apply unless you were
        resold the Services via a reseller (in which case Section 5.9 applies).</p>

    <p>
        (a) When submitting Source Material(s), a quote will be given as an estimate of
        the price for the Service to be rendered. VIA is not involved in the actual transaction
        between You and the automatic VIA server software. As a result, VIA does not have
        complete control over the quality or accuracy of the quote given in response to
        a Service request. In the event of an actual error in the provision of such quote, VIA shall have the right to
        rescind any resulting agreement within the timeframe
        set out in Section 5.2(d), even if such quote has been accepted by You.
        <br/>
        (b) A quotation is based on a word count (excluding graphics, designs, background
        code or the like) of the submitted Source Material(s).
        <br/>
        (c) A quotation, once given by the VIA server software, may be accepted by You by
        clicking the ”Place Order”, provided that valid Client information has been entered.
        <br/>
        (d) An online quotation is binding unless You are notified otherwise within two (2) business days of receipt of Your
        order and the Source Material(s), provided
        that the credit card validation process succeeded and the bank confirmed the availability
        of the amount necessary to secure payment of the work at completion.
        <br/>
        (e) VIA reserves the right to adjust pricing and/or delivery estimates upon receipt
        and evaluation of the final Source Material(s) to be translated. You shall be advised
        by VIA of the estimate of additional charges or change of delivery date prior to
        performing the translation. In the event of a material change in pricing and/or
        delivery estimates, VIA will provide You with the right to cancel Your order.
        <br/>
        (f) VIA reserves the right to refuse a request at its discretion for any reason or
        no reason whatsoever, including, without limitations, reasons relating to the size,
        usability and/or subject matter of the Source Material(s).
        <br/>
        (g) Additional charges may be made for all expenses incurred by VIA at the request
        of or by agreement with You, which are not included in Your confirmation of the
        order acknowledgement or which VIA considers reasonably necessary for the completion
        of the work or any legitimate purpose associated with it.
        <br/>
        (h) VIA expressly disclaims all liability for any claims arising or resulting from
        delays in or failure of delivery.
    </p>

    <p>
        5.3 Binding Agreement:
        <br/>
        (a) Following submission of the Source Material(s) and completion of the needed information by You online, VIA will
        provide You with an acknowledgement of the order
        and a request for confirmation. No contract shall arise until such confirmation
        from You is received and accepted by VIA. Each accepted order constitutes a separate
        agreement.
        <br/>
        (b) If You for any reason request cancellation of a translation request that You
        have commissioned, charges will be payable for all completed work up to the effective
        date of the cancellation date and for all other costs and expenses which may occur
        as a result of such cancellation. Any request for cancellation must be made at least
        seven (7) days prior to the effective date of cancellation unless otherwise agreed
        by VIA.
    </p>

    <p>
        5.4 Nature of translation and editing:
        <br/>
        (a) A translation reflects the quality of the original written material. Where concepts
        are poorly expressed in the Source Material(s), where the wrong choice of language
        has been made, where typographical mistakes are present, or where the text is incomplete
        or factually incorrect, the same inadequacies will appear in the translation or
        edit.
        <br/>
        (a) You agree that a translation or edit is of such complexity that it might have
        inherent differences, and You accept that a perfect translation of a word or sentence
        might be impossible. VIA shall translate specialized terms by their usual and conventional
        meanings, and otherwise make decisions based on VIA standard translation or editing
        procedures. Technical considerations may dictate variations between original and
        translated/edited documents. Unless You provide glossaries or specify terminology, VIA will use its judgment in the
        selection of terminology in a given field.
    </p>

    <p>
        5.5 All modifications or additions to the Source Material(s) shall be submitted
        to VIA clearly indicating changes and where they occur in relation to the previously
        submitted copy. Pricing and scheduling for incorporation of Source Material(s) modifications
        or additions into the target language translation(s) in progress shall be determined
        based on extent and implication of changes and percentage of work already completed.
        You shall be advised by VIA of the estimate of additional charges before the changes
        or additions are made by VIA.
    </p>

    <p>
        5.6 Result of translation - Deliverable:
        <br/>
        (a) Upon completion of the translation or edit, You shall receive an e-mail notification
        of the result, enclosing a link to download the Deliverable(s) from the Online Services
        page. VIA IS NOT RESPONSIBLE FOR THE DELIVERY FAILURE OF THIS E-MAIL NOTIFICATION,
        INCLUDING, WITHOUT LIMITATION, FAILURE CAUSED BY E-MAIL ROUTING SYSTEMS, YOUR E-MAIL
        SYSTEM, ATTACHMENT SIZE LIMITS, AND/OR E-MAIL GATEWAY PROTOCOL SETTINGS.
        <br/>
        (b) VIA shall use reasonable efforts to deliver the Deliverable(s) in the same file
        format as the Source Material(s). VIA will seek the closest match practical between
        the appearance of the original and that of the finished product. Unless specified
        otherwise, VIA does not guarantee that the format, fonts, typefaces, point sizes,
        text density, artwork, colors and other elements of the text and the original file
        will be identical. Translated and edited documents are sometimes shorter or longer
        than the original, and other technical considerations may result in elements of
        appearance being different from the original. In the event circumstances impede
        such service, the Deliverable will be sent in a TXT (ASCII) text format.
        <br/>
        (c) VIA shall use reasonable efforts to ensure that each Deliverable(s) is scanned
        for viruses using a commercially available virus scanning software program before
        it is delivered. However, VIA DECLINES ANY RESPONSIBILITY FOR ANY DAMAGE CAUSED BY
        A DELIVERABLE DOWNLOADED BY YOU (BY WAY OF E-MAIL OR THE VIA TRANSLATION PLATFORM).
        It is the Account Holder's responsibility to check for the presence of viruses in
        all Deliverable(s) received.
        <br/>
        (d) VIA reserves the right to destroy or otherwise dispose of any document or other
        property belonging to You which has been in VIA's custody for more than three (3)
        months following completion of the work to which it relates.
        <br/>
        (e) VIA shall use reasonable efforts to complete and deliver the translation and
        editing results to You within a commercially reasonable time frame, provided You
        have a corporate billing account or credit card authorization and the bank confirmed
        the availability of the amount necessary to secure payment of the work. HOWEVER,
        VIA SHALL NOT BE RESPONSIBLE FOR AND EXPRESSLY DISCLAIMS ALL LIABILITY ARISING OR
        RESULTING FROM FAILURE TO COMPLETE OR DELIVER A TRANSLATION OR EDITING JOB TO YOU
        ON ANY CERTAIN DATE OR AT ANY CERTAIN TIME.
        <br/>
        (f) VIA shall use reasonable efforts to provide Services in accordance with industry standards.
        Should YOU select the "Express” delivery feature and the completion of work is required sooner
        than the normal time, VIA reserves the right to charge supplementary urgency rates. Should any
        other additional costs be incurred, VIA reserves the right to charge for those as well. VIA will
        confirm these with You prior to proceeding.
        <br/>
        (g) VIA shall correct the following errors free of charge: reasonable quantities
        of omissions, typos, and grammatical mistakes. You agree that VIA shall have no obligation
        regarding errors in translations or editing unless VIA receives written notification specifying
        the error(s) within seven (7) days following delivery of the Deliverable(s) to You.
        VIA's sole obligation and Your exclusive remedy with respect to errors shall be the obligation
        to correct the Deliverable(s) at no cost to You. VIA EXPRESSLY DISCLAIMS ALL OTHER OBLIGATIONS
        OR LIABILITY FOR ERRORS IN TRANSLATION.
    </p>

    <p>
        5.7 Payment terms: The payment terms set forth below shall apply unless You were
        resold the Services through a reseller (in which case Section 5.9 applies).<br/>
        (a) Payment can only be made by a valid credit card or via a pre-approved customer
        account. VIA currently accepts Visa, MasterCard and American Express. The payment
        functionality is handled by VeriSign™ PayflowSM Pro. You hereby authorize VIA to
        process a charge on Your credit card for the fees quoted in respect of the Services
        and any additional fees You authorize. In the event VIA is unable to collect its fees
        for the Services using the credit card information submitted, You agree to immediately
        pay such fees to VIA upon completion of the Services and that any overdue amount shall
        bear interest at the rate which is the lesser of (a) 1.5% per month or (b) the maximum
        rate permitted by law. In the event VIA is unable to collect its fees for the Services
        (a) VIA may suspend or discontinue the Services and/or (b) may withhold the delivery of
        any Deliverables.
        <br/>
        (b) Where non-validation occurs, customers shall be contacted by VIA for order confirmation
        and payment details prior to the translation process. VIA has the right to take legal
        action against the Account Holder in respect of any use of a fraudulent credit card
        number on its Site.
        <br/>
        (c) The minimal order charge of $75.00 will be applied to the credit card. Your
        credit card will be charged upon order confirmation.
    </p>

    <p>
        5.8 Term and Termination:
        <br/>
        (a) In the event You materially breach this Agreement, VIA shall have the right to
        terminate the Agreement immediately or any time thereafter, whereupon You shall
        pay the full price provided hereunder for the Services completed and for all work
        in progress, as well as all other costs and expenses incurred as a result of Your
        breach. In the event that VIA materially breaches this Agreement, You shall have
        the right to terminate this Agreement, whereupon VIA shall return to You all Source
        Material(s) and data supplied by You, together with all translated work that exists
        as of the date of termination. Neither party shall terminate this Agreement based
        on a material breach by the other party (with the exception of payment obligations)
        without first providing such other party with written notice of the breach and a
        period of ten (10) days to cure such breach. Neither party shall be deemed to be
        in breach or default of any provision of this Agreement by reason of a delay, or
        of a failure in performance due to any causes beyond its control.
        <br/>
        (b) If this Agreement is terminated for any reason, VIA is entitled to a full payment
        for the work already completed at the time of the termination, as well as all other
        costs and expenses incurred with respect to Your translation request.
    </p>

    <p>
        5.9 Reseller Pricing and Payment Terms.&nbsp; If you acquire the Services and Deliverables
        as a result of being sold such items by one of our distribution partners, then the
        pricing and payment terms will not apply.&nbsp; Rather, VIA, Inc. will be paid
        directly by the distribution partner.&nbsp; You will be invoiced and billed by the
        distribution partner directly.&nbsp; Any terms and conditions regarding such payment
        shall be as between you and the distribution partners and VIA, Inc. shall have
        no liability with respect thereto.&nbsp; You acknowledge and agree, however, that
        if you fail to pay amounts properly owed when they are due, our distribution partner
        may take any and all action available to it under applicable law to ensure collection
        of such amounts.&nbsp;
    </p>

    <p>
        5.10&nbsp; Confidentiality:
        <br/>
        (a) VIA shall treat all Source Material(s) supplied by You as confidential.
        <br/>
        (b) Without Your prior consent, VIA shall not divulge or otherwise disclose Source
        Material(s) to any person other than authorized translators, editors or authorized
        subcontractors of VIA who are contractually required to keep such information confidential.
        The provisions of this paragraph shall not apply to the extent VIA is required by
        law to divulge such information or to the extent such information is or becomes
        a matter of public knowledge other than by disclosure by VIA.
        <br/>
        (c) VIA shall dispatch the Deliverable(s) to You personally by means of download
        from the viadelivers.com Web site. You shall assume all risks involved in delivery
        of all Deliverable(s).
    </p>
    </div>
    <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    <div class="FAQ_Subhead">
        VI. DIGITAL MILLENNIUM COPYRIGHT ACT COMPLIANCE POLICY
    </div>
    <div class="FAQ_BodyText">
        <p>
            It is our policy to promptly respond to claims of copyright infringement. If You
            believe that an infringing copyrighted work is accessible on this Site, You may
            notify our registered copyright agent by sending the following information to the
            address listed below:
        </p>

        <p>
            6.1. The signature of a person authorized to act on behalf of the owner of the copyright.
            This signature can be physical or electronic;
        </p>

        <p>
            6.2. A statement that this person is authorized to act on behalf of the copyright
            owner;
        </p>

        <p>
            6.3. A statement that this person has a good faith belief that the use of the material
            in the complained-of manner is not authorized either by the copyright owner, by
            the owner's agent, or by law;
        </p>

        <p>
            6.4. A description of the copyrighted work that You claim has been infringed;
        </p>

        <p>
            6.5. A description of where the material that You claim is infringing is located
            on the Site; and
        </p>

        <p>
            6.6. Your address, telephone number, and e-mail address. We ask that You place the term
            "Notice of Infringement" in the message of all such notifications, and contact VIA through our
            <a href="http://www.viadelivers.com/contact-us" target="_blank">Contact Us</a> form.
            We will process and investigate all notices of alleged infringement as required by the
            Digital Millennium Copyright Act ("DMCA"), and will, in accordance with the requirements of the DMCA,
            remove or disable access to any material claimed to be infringing or claimed to be the
            subject of infringing activity. When we remove or disable access to any material
            claimed to be infringing, we may attempt to contact the user who posted such material
            in order to give that user an opportunity to respond to the notification. If the
            user posting the material gives a counter-notification claiming that the use is
            authorized, we will furnish that counter-notification to the complaining party, and will give the complaining
            party an opportunity to seek judicial relief under
            the DMCA before we replace or restore access to any materials.
        </p>

        <p>We will provide translation services in additional language pairs as needed.</p>
    </div>
    <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    <div class="FAQ_Subhead">
        VII. GENERAL
    </div>
    <div class="FAQ_BodyText">
        <p>
            7.1 It is strictly forbidden to link directly to the Services offered on the Site
            without the express written permission of VIA. A hyperlink to the general URL "viadelivers.com"
            shall be permitted, provided You do not infringe VIA's proprietary rights and You
            abstain from deep-linking or any other unlawful reference. Framing the Site with
            links, advertisements and/or other information not originating from the Site is
            expressly prohibited.
        </p>

        <p>
            7.2 Registered Account Holders may use the feedback form to report feedback concerning
            any translation request or the service in general.
        </p>

        <p>
            7.3 Neither party shall be liable for failure in the performance of any of its obligations
            under this Agreement if such failure is caused by circumstances beyond the control
            of the party affected.
        </p>

        <p>
            7.4 The Client who contracts with VIA through e-mail, or more generally through a computer network,
            or any other similar means of communication, acknowledges that these means
            of communication possess, notably in terms of evidentiary force, the same validity
            as that conferred by a writing in a hard copy. Client agrees not to challenge the
            enforceability of any contract made with VIA by reason that such contract was made
            using e-mail, a click-through process or through other electronic means.
        </p>

        <p>
            7.5 The obligations of the parties under this Agreement, which by their nature would continue beyond the
            termination or cancellation of this Agreement, shall survive
            such termination or cancellation.
        </p>

        <p>
            7.6 If any part of this Agreement is determined to be invalid or unenforceable,
            then the invalid or unenforceable provision will be deemed superseded by a valid,
            enforceable provision that most closely matches the intent of the original provision,
            and the remainder of the Agreement shall continue in effect.
        </p>

        <p>
            7.7 The failure of either party to insist, in any one or more instances, upon the
            performance of any of the Terms or Conditions of this Agreement, or to exercise
            any right hereunder, shall not be construed as a waiver of the future performance
            of any such term or the future exercise of such right.
        </p>

        <p>
            7.8 VIA may subcontract any or all of the translation or editing work to be performed
            but, subject to the exclusive remedies and limitations of liability set forth in
            these Terms and Conditions of Service, shall retain responsibility for the work
            that is subcontracted.
        </p>

        <p>
            7.9 VIA reserves the right to change these Terms and Conditions of Service at any
            time. Such modifications shall be effective immediately upon posting. You agree
            to review these Terms and Conditions of Service periodically to be aware of such
            modifications, and Your continued access or use of the Site or Services shall be
            deemed to be Your acceptance of the modified agreement. Except for any revised versions
            of these Terms and Conditions of Service which are posted on the Site, any other
            modification or amendment of these Terms and Conditions of Service shall not be
            enforceable against VIA unless evidenced by a signed writing executed by VIA.
        </p>

        <p>
            7.10 This Agreement shall be governed by the laws of the State of Oregon, United
            States of America. Client hereby submits to the exclusive jurisdiction of the courts
            having jurisdiction in Oregon and agrees to bring any action relating to the Site,
            the Services, the Deliverables or otherwise arising from this Agreement exclusively
            in such courts and in a venue of Portland, Oregon. Use of the Site or Services is
            unauthorized in any jurisdiction that does not give effect to all provisions of
            these Terms and Conditions of Service, including, without limitation, this paragraph.
        </p>

        <p>
            7.11 Client hereby consents to VIA listing Client as a customer on the Site.
        </p>

        <p>
            7.12 The parties hereby confirm their express wish that this Agreement and all documents
            relating thereto be drawn up in English only. In the event any non-English translation
            is provided of these Terms and Conditions of Service, such translation shall be
            deemed provided for convenience purposes only, and the relationship between the
            parties shall be interpreted and enforced in accordance with the English language
            version of such Terms and Conditions of Service.
        </p>

        <p>
            7.13 This Agreement is the entire agreement with respect to its subject matter and
            supersedes all prior or other proposals, understandings, agreements or other communications
            between the parties, whether oral or written, including but not limited to any material
            posted on the Site.
        </p>
    </div>
    <div class="FAQ_backToTop"><a href="#top" class="FAQ_backToTopA">Back to the top</a></div>
    </div>
    </div>
    </div>

    <br><br><br><br>
{% endblock %}

{% block script %}
{% endblock %}


