{% extends "via/theme_base.html" %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load currency_filter %}
{% load sorting_field_parameter %}

{% block title %}{% trans "Job List" %} | {{ workflow_status.text | capfirst }} | VTP{% endblock %}
{% block content_header %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}shared/css/table-cell-dropdown.css" media="screen"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}via/css/job-list.css" media="screen"/>
{% endblock %}

{% block content %}
    <div class="job-active job-content">
    {% block content_breadcrumb %}
        <div class="breadcrumb">
            <span><i class="fa fa-home"></i></span>
            <span><a href="{% url 'via_dashboard' %}">{% trans "Home" %}</a></span>
            <span class="divider"><i class="fa fa-chevron-right"></i></span>
            {% if client %}
                <span><a href="{{ request.path }}">{% trans "Job List" %}</a></span>
                <span class="divider"><i class="fa fa-chevron-right"></i></span>
                <span class="active">{{ client.name }}</span>
            {% else %}
                <span class="active">{% trans "Job List" %}</span>
            {% endif %}
            {{ block.super }}
        </div>
    {% endblock %}

        <div class="job-active-table">
            <div class="row-fluid list-header">
                <div class="span3">
                    <h2 class="heading">
                        <i class="{{ workflow_status.icon }}"></i>
                        {{ workflow_status.text | capfirst }}
                    </h2>
                </div>
                <div class="span9 form-inline job-filters">
                    <div class="row-fluid column-display-checkboxes">
                        <span class="span2">
                            <input id="display_price_columns_checkbox" type="checkbox" />
                            <label for="display_price_columns_checkbox">{% trans "Price" %}</label>
                        </span>
                        <span class="span2">
                            <input id="display_people_columns_checkbox" type="checkbox" />
                            <label for="display_people_columns_checkbox">{% trans "People" %}</label>
                        </span>
                        <span class="span2">
                            <input id="display_est_date_columns_checkbox" type="checkbox" />
                            <label for="display_est_date_columns_checkbox">{% trans "Estimate Dates" %}</label>
                        </span>
                        <span class="span2">
                            <input id="display_job_date_columns_checkbox" type="checkbox" />
                            <label for="display_job_date_columns_checkbox">{% trans "Job Dates" %}</label>
                        </span>
                        <span class="span3 text-right">
                            <div class="btn-group">
                                <a href="{% url 'via_job_create' %}" class=
                                        "btn btn-primary start_job_button"><i
                                        class="fa fa-plus-circle fa-white"></i> {% trans "Start Estimate" %}
                                </a>
                                <a href="{{ workflow_status.export_url }}"
                                   class="btn"><i class="fa fa-cloud-download fa-white"></i> {% trans "Export" %}
                                </a>
                                {% include 'via/projects/_workflow_filter_dropdown.html' %}
                            </div>
                        </span>
                        <span class="span1"></span>
                    </div>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col col-warnings col-fa-only" id="warnings"><i class="fa fa-info-circle" title="{% trans "Information" %}"></i></th>
                        <th class="col col-job-id clickable-th" data-href="?{% url_replace request 'order_by' 'job_id' %}" id="job_id"><span>{% trans "Job" %}</span><div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-workflow clickable-th" data-href="?{% url_replace request 'order_by' 'workflow' %}" id="workflow">{% trans "Workflow" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-via-instructions col-fa-only"><i class="fa fa-comments-o" title="{% trans "Via Instructions" %}"></i></th>
                        <th class="col col-company clickable-th" data-href="?{% url_replace request 'order_by' 'company' %}" id="company">{% trans "Company" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-file clickable-th" data-href="?{% url_replace request 'order_by' 'file' %}" id="file">{% trans "File" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-source clickable-th" data-href="?{% url_replace request 'order_by' 'source' %}" id="source">{% trans "Source" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-target clickable-th" data-href="?{% url_replace request 'order_by' 'targets' %}" id="targets">{% trans "Target(s)" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-price col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'price' %}" id="price">{% trans "Price" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-requester col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'requester' %}" id="requester">{% trans "Requester" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-pm col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'pm' %}" id="pm">{% trans "PM" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-ae col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'ae' %}" id="ae">{% trans "AE" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-tsg col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'tsg' %}" id="tsg">{% trans "TSG" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-estimate-number col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'estimate_number' %}" id="estimate_number">{% trans "Estimate #" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-estimate-due col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'estimate_due' %}" id="estimate_due">{% trans "Estimate" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-estimated col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'estimated' %}" id="estimated">{% trans "Estimated" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-started col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'started' %}" id="started">{% trans "Started" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-due col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'due' %}" id="due">{% trans "Due" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-delivered col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'delivered' %}" id="delivered">{% trans "Delivered" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                        <th class="col col-completed col-optional clickable-th" data-href="?{% url_replace request 'order_by' 'completed' %}" id="completed">{% trans "Completed" %}<div style="float: right"><i class="sort-icon fa fa-sort"></i></div></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            {% with warnings=project.warnings %}
                                <tr class="
                                    {% if project.is_completed_status %}
                                    info
                                    {% elif project.is_canceled_status or project.is_hold_status %}
                                    warning
                                    {% elif project.is_created_status and warnings %}
                                    error
                                    {% elif project.is_queued_status or project.is_created_status or project.is_quoted_status %}

                                    {% elif warnings %}
                                    error
                                    {% else %}
                                    success
                                    {% endif %}
                                    ">
                                    <td nowrap class="col col-warnings col-fa-only">
                                        {% if warnings %}
                                            <i class="{{ project.warnings_icon }}" title="{{ warnings }}"></i>
                                        {% endif %}
                                        {% if project.approved  %}
                                            <i class="fa fa-check-circle" title="{% trans "Approved" %}"></i>
                                        {% endif %}
                                        {% if project.is_express_speed %}
                                            <i class="fa fa-rocket" title="{% trans "Express" %}"></i>
                                        {% endif %}
                                        {% if project.is_auto_estimate %}
                                            <i class="fa fa-cogs" title="{% trans "Automatic Estimate" %}"></i>
                                        {% endif %}
                                        {% if project.is_restricted_job  %}
                                            <i class="fa fa-user-secret" title="{% trans "Restricted Access" %}"></i>
                                        {% endif %}
                                        {% if project.internal_via_project  %}
                                            <i class="fa fa-ban" title="{% trans "No client view" %}"></i>
                                        {% endif %}
                                         {% for id, value in service.iteritems %}
                                             {% if id == project.id %}
                                                <i class="fa fa-cog" title="{% trans value %}"></i>
                                             {% endif %}
                                        {% endfor %}
                                        {% if project.is_phi_secure_job  %}
                                            <i class="fa fa-user-md" title="{% trans "PHI Secure Job" %}"></i>
                                        {% endif %}
                                    </td>
                                    <td class="col col-job-id">
                                        <a href="{% url 'via_job_detail_overview' project.id %}"><span>{{ project.job_number }}</span></a>
                                    </td>
                                    <td class="col col-workflow">
                                        <i class="{{ project.workflow.icon }}"></i>
                                        {{ project.workflow.text }}
                                    </td>
                                    <td class="col col-via-instructions col-fa-only">
                                        {% if project.instructions_via %}
                                            <i class="fa fa-comments-o instructions" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ project.instructions_via|striptags|truncatechars:200 }}"></i>
                                        {% endif %}
                                    </td>
                                    <td class="col col-company" title="{{ project.client }}">{{ project.client|truncatechars:10 }}</td>
                                    <td class="col col-file">
                                        {% for asset in project.kit.source_files.all %}
                                            {% if project.kit.source_files.all|length == 1 %}
                                                <span>{{ asset.short_name  }}</span>
                                            {% else %}
                                                {% if forloop.first %}
                                                <span class="table-cell-dropdown-toggle">
                                                    {{ asset.short_name }}
                                                    <i class="fa fa-caret-down"></i>
                                                </span>
                                                {% else %}
                                                <span class="table-cell-additional-item">
                                                    {{ asset.short_name }}
                                                </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="col col-source">{{ project.source_locale }}</td>
                                    <td class="col col-target">
                                        {% for target in project.target_locales.all %}
                                        {% if project.target_locales.all|length == 1 %}
                                            <span>{{ target }}</span>
                                        {% else %}
                                            {% if forloop.first %}
                                            <span class="table-cell-dropdown-toggle">
                                                {{target}}
                                                <i class="fa fa-caret-down"></i>
                                            </span>
                                            {% else %}
                                            <span class="table-cell-additional-item">
                                                {{ target }}
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="col col-price col-optional">
                                        {% with project_price=project.price %}
                                            {% if project_price %}
                                                {{ project_price|currency }}
                                            {% else %}
                                                {% trans "--" %}
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                    <td class="col col-requester col-optional" title="{{ project.client_poc }}">{{ project.client_poc|default_if_none:""|truncatechars:10 }}</td>
                                    <td class="col col-pm col-optional" title="{{ project.primary_pm }}">{{ project.primary_pm|default_if_none:""|truncatechars:10 }}</td>
                                    <td class="col col-ae col-optional" title="{{ project.account_executive }}">{{ project.account_executive|default_if_none:""|truncatechars:10 }}</td>
                                    <td class="col col-tsg col-optional" title="{{ project.estimator }}">{{ project.estimator|default_if_none:""|truncatechars:10 }}</td>
                                    <td class="col col-estimate-number col-optional" title="{{ project.jams_estimateid }}">{{ project.jams_estimateid|default_if_none:""|truncatechars:10 }}</td>
                                    <td class="col col-estimate-due col-optional">{{ project.quote_due|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td class="col col-estimated col-optional">{{ project.quoted|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td class="col col-started col-optional">{{ project.started_timestamp|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td class="col col-due col-optional">{{ project.due|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td class="col col-delivered col-optional">{{ project.delivered|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td class="col col-completed col-optional">{{ project.completed|date:"SHORT_DATE_FORMAT" }}</td>
                                </tr>
                            {% endwith %}
                        {% empty %}
                            <tr><td colspan="100%" style="text-align: left">{% trans "No Jobs" %}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination pagination-centered">
                {% bootstrap_paginate page_obj range=10 centered="true" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function(){
        $("i.instructions").popover({'trigger':'hover'});
        $(document).on("submit",".project_instructions_form", function() {
            $('.project_instructions_form button').attr('disabled','disabled');
            if(!$('.project_instructions').val()){
                    alert('{% trans "No Instructions" %}');
                    $('.project_instructions_form button').removeAttr('disabled');
                    return false;
                }
            $.post('{{ request.path }}', $(this).serialize(), function(data){
                if($.parseJSON(data).message=='Saved'){
                    var comment_body = '<span class="newlyaddwell"><font color="green">{% trans "Instructions are updated successfully" %}</font></span>';
                    $('#modal'+ $('.project_instructions_form #project_id').val() +' .comment_bod').prepend(comment_body);
                    $('.newlyaddwell').fadeIn();
                    $('.newlyaddwell').delay(2000).fadeOut("slow", function () { $(this).remove(); });
                }else{
                    alert('{% trans "Error occurred while saving the data. Text area cannot be empty." %}');
                }
                 $('.project_instructions_form button').removeAttr('disabled');
           }).fail(function() {
                    alert('{% trans "Error occured while saving the data please try again" %}');
                    $('.project_instructions_form button').removeAttr('disabled');
                  });
            return false;
        });
    });
    </script>

    <script src="{{ STATIC_URL }}shared/js/filters/table-cell-dropdown.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}shared/js/filters/job-list.js" type="text/javascript"></script>
{% endblock %}
