{% extends "shared/external/theme_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Account Disabled" %}{% endblock %}

{% block css %}
{% endblock %}

{% block content_header %}
    <h1>{% blocktrans %}Your account has been disabled{% endblocktrans %}</h1>
{% endblock %}

{% block content_breadcrumb %}{% endblock %}

{% block content %}
    <p>
        {% blocktrans %}For assistance, please contact support at {{ supportemail }}.{% endblocktrans %}
    </p>
{% endblock %}
