{% load i18n %}

<button class="btn dropdown-toggle" data-toggle="dropdown">
    <i class="{{ workflow_status.icon}}"></i>  {% trans workflow_status.text %}
    <i class="fa fa-caret-down"></i>
</button>
<ul class="dropdown-menu dropdown-menu-status">
    {% for status, status_details in CLIENT_STATUS_DETAIL.items %}
        <li>
            <a href="{{ status_details.url }}">
                <i class="{{ status_details.icon }}"></i>
                {% trans status_details.text %}
            </a>
        </li>
    {% endfor %}
</ul>
