{% load bootstrap %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}

{% if task.is_translation %}
    <div id="input_delivery-upload-{{ trans_kit.id }}" class="delivery-form">
        <h3>{% trans "Upload Delivery" %}</h3>
        <p>{{ task.service.service_type }}: {{ task.quantity|floatformat:-2|intcomma }} {{ task.service.unit_of_measure }}</p>
        <p>{% trans "Please upload translation for:" %} {{ trans_kit.input_file_name }}</p>
        {{ trans_kit.via_tltk_upload_form.as_form_html }}
    </div>
{% else %}
    <div id="input_delivery-upload-{{ la.id }}" class="delivery-form">
        <h3>{% trans "Upload Delivery" %}</h3>
        <p>{{ task.service.service_type }}: {{ task.quantity|floatformat:-2|intcomma }} {{ task.service.unit_of_measure }}</p>
        <p>{% trans "Please upload new file for:" %} {{ la.input_file_name }}</p>
        {{ la.via_tla_input_upload_form.as_form_html }}
    </div>
{%  endif %}
