{% extends "via/theme_base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% blocktrans %}Approve Delivery:{% endblocktrans %} {{ task.project.job_number }} - {{ task.service.target_id }}{% endblock %}

{% block content_header %}{% endblock %}

{% block content %}
<div id="approve-delivery">
    <h2>{% blocktrans %}Approve Delivery:{% endblocktrans %} <a href="{% url 'via_job_detail_tasks' task.project.id %}">{{ task.project.job_number }}</a> - {{ task.service.target }} </h2>
    <hr>
    <div class="row-fluid">
        <div class="span8">
            <h4>{{ task.assigned_to }} : {% trans "Accepted " %} {{ task.accepted_timestamp }} : {% trans "Started " %} {{ task.started_timestamp }}</h4>
        </div>
        <div class="span4">
            <div class="btn-group pull-left">
            {% if previous_task_vendor_notes %}
                <a href="#modal{{project.id}}"  class="instructions-modal-ref btn btn-info" style="display:inline-block;" data-toggle="modal" id="{{ project.id }}" title="{% trans "Click to see Previous Task Notes." %}">
                    <i class="fa fa-comments-o instructions" data-container="body" data-toggle="popover" data-placement="top"></i>
                </a>
            {% endif %}
            {% if task.predecessor.id %}
                <a href="{% url 'projects_tasks_edit' task.predecessor.id %}" class="btn" title="{% trans "Jump to previous Workflow Task" %}">{% trans "Previous" %}</a>
            {% endif %}
            </div>
        </div>
    {% if not task.is_accepted  %}
        <div class="row">
        <div class="span12">
            <div class="btn-group">
                <a href="{% url 'via_accept_task' task.id task.service.target_id %}" class="btn btn-success"><i class="fa fa-check fa-white"></i>{% trans "Accept" %}</a>
                <a href="{% url 'via_reject_task' task.id %}" class="btn btn-danger"><i class="fa fa-times fa-white"></i>{% trans "Reject" %}</a>
            </div>
            <br class="clear"/>
            <span class="label">{% trans "Respond by:" %} {{ task.respond_by }}</span>
        </div>
        </div>
    {% endif %}
    {% if previous_task_vendor_notes %}
        <div id="modal{{project.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">{% trans "Previous Task Notes:" %} <br/> {{ task.predecessor.service.service_type }}</h3>
            </div>
            <div class="modal-body">
                <div class="comment_bod">
                    {{ task.predecessor.vendor_notes|safe }}
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    <hr>

    <table class="table table-bordered table-hover">
        <thead>
        <tr class="table-em-row">
            <th>{% blocktrans %}Source File{% endblocktrans %}</th>
            <th>{% blocktrans %}File In{% endblocktrans %}</th>
            <th>{% blocktrans %}File for Delivery{% endblocktrans %}</th>
            <th>{% blocktrans %}Due Date{% endblocktrans %}</th>
        </tr>
        </thead>
        <tbody>

    {% for la in task.localized_assets.all %}
        <tr>
            <td>
                {% if la.source_asset %}
                    <a href="{% url 'download_asset' task.project.id  la.source_asset.id %}" title="{{ la.source_asset.orig_name }}">{{ la.source_asset.orig_name|truncatechars:75 }} <i class="fa fa-download"></i></a>
                {% else %}
                    {% blocktrans %}--{% endblocktrans %}
                {% endif %}
            </td>
            <td><a href="{% url 'download_tasklocalizedasset_in_file' task.id la.id %}" title="{{ la.input_file_name }}">{{ la.input_file_name|truncatechars:75 }} <i class="fa fa-download"></i></a></td>
            <td>
                <div class="row-fluid">
                    <div class="span9">
                        <div class="row-fluid">
                    {% if la.output_file %}
                        <a id="output_file-{{ la.id }}"
                           href="{% url 'download_tasklocalizedasset_out_file' task.id la.id %}"
                           title="{{ la.output_file_name }}">{{ la.output_file_name|truncatechars:75 }} <i class="fa fa-download"></i></a>
                        </div>
                        <div class="row-fluid">
                        <form novalidate name="RENAME_ASSET{{ la.id }}" action="" id="rename-form-{{la.id}}" class="rename_form pull-left" method="post">
                            {% csrf_token %}
                            <input type="text" class="hid_input_{{la.id}} input-xxlarge" name="new_file" value="{{ la.output_file }}" required />
                            <input type="hidden" name="la_task_id" value="{{ la.task_id }}" />
                            <input type="hidden" name="la_id" value="{{ la.id }}" />
                            <input type="hidden" name="delivery_file_rename" value="{{ la.id }}" />
                            <button class="btn btn-success rename-btn" id="{{ la.id }}" type="submit" title="{% trans "Save" %}"><i class="fa fa-check"></i></button>
                            <a class="btn btn-danger" id="{{ la.id }}" onclick="cancelRenameFile(this.id)" title="{% trans "Cancel" %}"><i class="fa fa-times"></i></a>
                        </form>
                        </div>
                    {% else %}
                        {% blocktrans %}(not generated){% endblocktrans %}
                    {% endif %}
                    </div>
                    <div class="span3">
                        <div class="row-fluid">
                            {% if task.is_accepted %}
                                <div class="span4">
                                <a id="replace-btn-{{ la.id }}" class="btn small-btn btn-inverse upload-btn" href="#" TITLE="{% blocktrans %}Replace - Use this if you need to replace the final file you are delivering.{% endblocktrans %}"><i class="fa fa-upload fa-white"></i></a>
                                {% include "via/projects/tasks/_upload_form_final_approval.html" %}
                                </div>
                                <div class="span4">
                                <a type="submit" class="btn small-btn rename-{{ la.id }}" id="{{ la.id }}" onclick="renameFile(this.id)" TITLE="{% trans "Rename Delivery File" %}"><i class="fa fa-edit"></i></a>
                                </div>
                                <div class="span4">
                                    {% if la.via_approved %}
                                        <a href="#" id="verify-btn-{{ la.id }}" class="btn small-btn btn-success verify-btn" data-file-id="{{ la.id }}" data-verify=0 TITLE="{% blocktrans %}Approved - Click to set Unapproved.{% endblocktrans %}">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                    {% else %}
                                        <a href="#" id="verify-btn-{{ la.id }}" class="btn small-btn btn-warning verify-btn" data-file-id="{{ la.id }}" data-verify=1 TITLE="{% blocktrans %}Unapproved - Click to set Approved.{% endblocktrans %}">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </td>
            <td> <span class="label label-{{ task.time_left_status }}">{{ task.due|naturaltime }}</span></td>
        </tr>
    {% empty %}
        <tr><td colspan="100%">{% blocktrans %}<i>Need to upload files for delivery</i>{% endblocktrans %}</td></tr>
    {% endfor %}
    {% if task.localized_assets.all|length > 1 %}
            <tr>
                <td>
                    <a class="btn btn-primary" href="{% url 'project_source_files_zip' task.project.id %}">
                        <i class="fa fa-download"></i>
                        {% blocktrans %}Download All{% endblocktrans %}
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" href=
                            "{% url 'task_input_files_zip' task.id %}">
                        <i class="fa fa-download"></i>
                        {% blocktrans %}Download All{% endblocktrans %}
                    </a>
                </td>
                <td>
                    <div class="row-fluid">
                        <div class="span6">
                            <a class="btn btn-primary" href=
                                    "{% url 'task_output_files_zip' task.id %}">
                                <i class="fa fa-download"></i>
                                {% blocktrans %}Download All{% endblocktrans %}
                            </a>
                        </div>
                    {% if task.is_accepted %}
                        <div class="span2">
                            <a class="btn btn-success pull-right verify_all" href="#" data-task-id="{{ task.id }}" data-verify=1>
                                <i class="fa fa-thumbs-up"></i>
                                {% blocktrans %}Approve All{% endblocktrans %}
                            </a>
                        </div>
                        <div class="span2">
                            <a class="btn btn-warning pull-right verify_all" href="#" data-task-id="{{ task.id }}" data-verify=0>
                                <i class="fa fa-thumbs-down"></i>
                                {% blocktrans %}Unapprove All{% endblocktrans %}
                            </a>
                        </div>
                    {% endif %}

                    </div>
                </td>
                <td colspan="2"></td>
            </tr>
        {% endif %}
    {% if not task.is_accepted %}
        <tr class="table-em-row"><td colspan="5">
            <h3>{% blocktrans %}Please <i>Accept</i> task in order to make delivery.{% endblocktrans %}</h3>
        </td></tr>
    {% elif task.localized_assets.all %}
        <tr class="table-em-row">
            <td colspan="3">

            {% if task.is_accepted  %}
	            <form novalidate name="via_notes_{{ la.id }}" action="" id="via_notes_{{la.id}}" class="via_notes_form" method="post">
	                {% csrf_token %}
	                <input type="hidden" name="la_task_id" value="{{ la.task_id }}" />
	                <input type="hidden" name="via_notes" value="{{ la.id }}" />
	                <textarea name="id_via_notes" rows="8" cols="80" id="id_via_notes">{% if task.via_notes %}{{ task.via_notes }}{% endif %}</textarea><br>
	                <button id="via_notes_{{ la.id }}" type="submit" class="btn btn-inverse small-btn pull-right"><i class="fa fa-comments-o"></i> {% trans "Save Client Delivery Note" %}</button>
	            </form>
	         {% endif %}

            </td>
            <td colspan="2">
                <form novalidate method="post" target="">
                    {% csrf_token %}
                    <button name="make_delivery" type="submit"
                            class="btn btn-primary"
                            TITLE="{% blocktrans %}Click Make Delivery when you are ready to send the job to the client.{% endblocktrans %}">
                        <i class="fa fa-truck"></i>
                        {% blocktrans %}Make Delivery{% endblocktrans %}</button>
                </form>
            </td>
        </tr>
    {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block script %}
    <script src="{{ STATIC_URL }}shared/js/jquery.lightbox_me.js"></script>
    <script>
        function renameFile(btnid) {
            $('#rename-form-'+btnid).show()
            $('#rename-form-'+btnid).css('margin','0px 0px -10px')
            $('#replace-btn-'+btnid).hide()
            $('#verify-btn-'+btnid).hide()
            $('.rename-'+btnid).hide()
            $('#output_file-'+btnid).hide()
            fileName =  $('.hid_input_'+btnid).attr('value')
            var get_path = fileName.lastIndexOf('/')+1
            var file_extn_pos = fileName.lastIndexOf('.')
            var origFileName = fileName.slice(get_path, file_extn_pos)
            $('.hid_input_'+btnid).attr('value', origFileName);
        }
        $('.rename_form').hide()
        function cancelRenameFile(cbtnid) {
            $('#rename-form-'+cbtnid).hide()
            $('#replace-btn-'+cbtnid).show()
            $('#verify-btn-'+cbtnid).show()
            $('.rename-'+cbtnid).show()
            $('#output_file-'+cbtnid).show()
            $('.hid_input_'+cbtnid).attr('value', fileName);
            return false;
        }
        
        $('.rename-btn').click(function(){
            var id = $(this).attr('id')
            var fname = $('.hid_input_'+id).attr('value')
            var alphaExp = /^[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
            if(fname.match(alphaExp)){
                return true;
                }else{
                if(confirm('{% trans "Are you really sure that is the name you want to make it?" %}'))
                    return true;
                else
                    return false;
            }
            })
        
        $('.upload-btn').click(function(e) {
            var task_id = $(this).attr('id').split('-').pop();
            $('#delivery-upload-' + task_id).lightbox_me({
                centered: true,
                onLoad: function() {
                    //
                }
            });
            e.preventDefault();
        });
        $('.via_notes_form').submit(function(e) {
        	if(!$('#id_via_notes').val()){
        	  alert('{% trans "No text entered." %}');
        	  return false;
        	}
        });
        $('.verify-btn').click(function () {
            var url = '{{ request.path }}';
            var that = $(this);
            that.addClass('disabled');
            var verify = that.attr('data-verify');
            $.ajax({
                type: 'POST',
                url: $(that).attr("href"),
                data: {
                    verify_files: "1",
                    verify: verify,
                    "la_id": that.attr('data-file-id'),
                    "csrfmiddlewaretoken": $('form input[name="csrfmiddlewaretoken"]').val()
                }
            }).success(function (data) {
                that.attr('data-verify',verify==1?0:1);
                that.toggleClass('btn-success').toggleClass('btn-warning').removeClass('disabled');
                that.find('i').toggleClass('fa-thumbs-up fa-thumbs-down')
            });
        });
        $('.verify_all').click(function () {
            var url = '{{ request.path }}';
            var that = $(this);
            that.addClass('disabled');
            var verify = that.attr('data-verify');
            $.ajax({
                type: 'POST',
                url: $(that).attr("href"),
                data: {
                    verify_files: "1",
                    verify_all: verify,
                    "task_id": that.attr('data-task-id'),
                    "csrfmiddlewaretoken": $('form input[name="csrfmiddlewaretoken"]').val()
                }
            }).success(function (data) {
                that.toggleClass('disabled');
                if (verify==1)
                {
                    $('.verify-btn').removeClass('btn-warning').addClass('btn-success');
                    $('.verify-btn').find('i').removeClass('fa-thumbs-down').addClass('fa-thumbs-up');
                }
                else
                {
                    $('.verify-btn').removeClass('btn-success').addClass('btn-warning');
                    $('.verify-btn').find('i').removeClass('fa-thumbs-up').addClass('fa-thumbs-down');
                }
            }).error(function (jqXHR, textStatus, errorThrown) {

            });
        });

        tinymce.init({
            selector: '#id_via_notes',
            theme: 'modern',
            plugins: 'advlist lists hr preview codesample contextmenu textcolor colorpicker charmap table code',
            toolbar1: 'formatselect fontselect fontsizeselect | bold italic underline | removeformat | forecolor backcolor | bullist numlist | alignleft alignright | outdent indent | table | hr | charmap | preview | code ',
            menubar: false,
            inline: false,
            statusbar: true,
            height: 240,
        });
    </script>
{% endblock %}
