

.FAQ h1
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color:#F90;
	font-size:20;
	margin-bottom:0px;
	margin-top:10px;
}

.FAQtopLinks
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color:#F90;
	font-weight:bold;
}
.FAQ_Header
{
	margin:10px 0px 0px 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	color:#F90;
	font-weight:bold;
}
.FAQ_Subhead
{
	margin:10px 0px 0px 20px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color:#333;
	font-weight:bold;
}
.FAQ_backToTop
{
	margin:5px 10px 0px 0px;
	text-align:right;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color:#F90;
}
.FAQ_BodyText
{
	margin:10px 0px 0px 20px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color:#333;
}
.FAQ_backToTopA
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color:#F90;
}
