{% load humanize %}{% load currency_filter %}

{% include 'notifications/_email_base_top.html' %}

<table style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 100%; line-height: 1.5; width: 100%; margin: 0; padding: 0;">
    <tr style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 100%; line-height: 1.5; margin: 0; padding: 0;">
        <td style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 100%; line-height: 1.5; margin: 0; padding: 0;">

            <p style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: normal; margin: 0 0 10px; padding: 0;">
                {{ join_request.user.get_full_name }} ({{ join_request.user.email }}) has signed up as a user on the {{ app_full_name }}.
            </p>
            <p style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: normal; margin: 0 0 10px; padding: 0;">
                Is {{ join_request.user.get_full_name }} a member of your team at {{ join_request.account }}?
            </p>
            <p style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: normal; margin: 0 0 10px; padding: 0;">
                You can confirm or reject this user at {{ manage_url }}.
            </p>
            <p style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: normal; margin: 0 0 10px; padding: 0;">
                Thanks,
            </p>
            <p style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 14px; line-height: 1.5; font-weight: normal; margin: 0 0 10px; padding: 0;">
                The VIA Team
            </p>

        </td>
    </tr>
</table>

{% include 'notifications/_email_base_bottom.html' %}
