{% load humanize %}{% load currency_filter %}

{% include 'notifications/_email_base_top.html' %}

<table style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 100%; line-height: 1.5; width: 100%; margin: 0; padding: 0;">
    <tr style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 100%; line-height: 1.5; margin: 0; padding: 0;">
        <td style="font-family: Helvetica, Verdana, Tahoma, Arial, sans-serif; font-size: 100%; line-height: 1.5; margin: 0; padding: 0;">

            <p>Notification regarding a task.</p>
            <ul>
                <li style="list-style-type:none;">Job: {{ task.project.job_number }}.</li>
                <li style="list-style-type:none;">Client: {{ task.project.client.name }} ({{ task.project.client_poc.get_full_name }}).</li>
                <li style="list-style-type:none;">Task: {{ task.service.service_type }}.</li>
                <li style="list-style-type:none;">Assigned: {{ task.assigned_to }}.</li>
                <li style="list-style-type:none;">Source: {{ task.service.source }}, Target: {{ task.service.target }}.</li>
                <li style="list-style-type:none;">Notes: {{ pm_message }}.</li>
            </ul>
            <p>For more information, please visit {{ vtp_url }}.</p>

        </td>
    </tr>
</table>

{% include 'notifications/_email_base_bottom.html' %}
