{% extends "shared/external/theme_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% blocktrans %}Set New password{% endblocktrans %}{% endblock title %}

{% block css %}{% endblock %}
{% block search_menu %}{% endblock %}
{% block login_menu %}{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content_breadcrumb %}{% endblock %}

{% block content_header %}
    <div class="row-fluid">
        <div class="span6 center"><h1 class="signup-header">{% blocktrans %}New password{% endblocktrans %}</h1></div>
    </div>
    <hr class="soften"/>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span4 center">

            <form novalidate class="form-horizontal form-signin" method="post" action="">
                {% csrf_token %}
                {% if validlink %}
                    <p>
                        {% blocktrans %}Please enter your new password twice, so we can verify you typed it in correctly.{% endblocktrans %}
                    </p>

                    <p>
                        {{ form.new_password1|bootstrap }}
                    </p>

                    <p class="button-height">
                        {{ form.new_password2|bootstrap }}
                    </p>
                    <button type="submit" class="btn btn-large btn-primary btn-block"><i class="fa fa-pencil-square-o"></i> {% blocktrans %}Change my password{% endblocktrans %}</button>
                {% else %}
                    <h4><i class="fa fa-exclamation-triangle"></i> {% blocktrans %}Password reset unsuccessful{% endblocktrans %}</h4>
                    <p>
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.{% endblocktrans %}
                    </p>
                    <br/>
                    <p><a class="btn btn-large btn-primary btn-block" href="{% url 'password_reset' %}"><i class="fa fa-envelope-o"></i> {% blocktrans %}Send Reset Password{% endblocktrans %}</a></p>
                {% endif %}

            </form>
        </div>
    </div>
{% endblock content %}
