{% extends "shared/external/theme_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% blocktrans %}Password reset complete{% endblocktrans %}{% endblock title %}

{% block css %}{% endblock %}
{% block search_menu %}{% endblock %}
{% block login_menu %}{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content_breadcrumb %}{% endblock %}

{% block content_header %}
    <div class="row-fluid">
        <div class="span6 center"><h1 class="signup-header">{% blocktrans %}Password reset complete{% endblocktrans %}</h1></div>
    </div>
    <hr class="soften"/>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span4 center">
            <p>{% blocktrans %}Your password has been set. You may go ahead and sign in now.{% endblocktrans %}</p>
        </div>
        <hr class="soften"/>
        <div class="span4 center">
            <div class="span6 center">
                <a href="{% url 'login' %}" class="btn btn-large btn-primary btn-block"><i class="fa fa-arrow-circle-left"></i> {% blocktrans %}Return to Sign in{% endblocktrans %}</a>
            </div>
        </div>
    </div>
{% endblock content %}