{% extends "shared/external/theme_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% blocktrans %}Reset Password{% endblocktrans %}{% endblock title %}

{% block css %}{% endblock %}
{% block search_menu %}{% endblock %}
{% block login_menu %}{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content_breadcrumb %}{% endblock %}

{% block content_header %}
    <div class="row-fluid">
        <div class="span6 center"><h1 class="signup-header">{% blocktrans %}Reset Password{% endblocktrans %}</h1></div>
    </div>
    <hr class="soften"/>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span4 center">

            <div class="row-fluid">Please specify your email address to receive instructions for resetting it.</div>

            <form novalidate class="form-horizontal form-signin" method="post" action="">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <div class="row-fluid">
                {{ form.email|bootstrap }}
                </div>
                <br/>
                <div class="row-fluid">
                    <button type="submit" class="btn btn-large btn-primary btn-block"><i class="fa fa-envelope-o"></i> {% blocktrans %}Send Reset Password{% endblocktrans %}</button>
                    <a href="{% url 'login' %}" class="btn btn-block">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
    {% if form.errors %}<div class="row-fluid">
        <div class="span6 center well">
            <div class="row-fluid">
                <div class="span8 center">
                    <h2 class="text-center">Need a new account?</h2>
                    <p></p>
                </div>
            </div><div class="row-fluid">
                <div class="span6">
                    <h3 class="text-center">Customers</h3>
                    <p>Please create <a href="{% url 'signup' %}">New Client account</a> now.</p>
                </div>
                <div class="span6">
                    <h3 class="text-center">Suppliers</h3>
                    <p>Please send a message to <a href="mailto:suppliermanagement@viadelivers.com?subject=VTP supplier account">VIA Supplier Management</a> regarding your account information.</p>
                </div>
            </div>
        </div>
    </div>{% endif %}
{% endblock %}
