alabaster
amqp
anyjson
Babel
beautifulsoup4
billiard
bleach
boto
boto3
botocore
celery
cffi
chardet
Collectfast
colorama
cryptography
cssselect
Django==1.10.8
django-after-response
django-appconf
django-autoslug
django-bootstrap-form
django-bootstrap-pagination
django-breadcrumbs
django-celery
django-configurations
django-dbindexer
django-extensions
django-filter
django-grappelli
django-impersonate
django-ipware
django-mathfilters
django-menus
django-nullablecharfield
django-nvd3
django-salesforce
django-storages
django-tables2
django-tagging
django-widget-tweaks
django-tinymce4-lite
pylibmc
django-heroku-memcacheify
djangorestframework
docutils
drfdocs
ecdsa
enum34
filebrowser-safe
funcsigs
future
futures
grappelli-safe
html5lib
idna
imagesize
ipaddress
Jinja2
jmespath
kombu
librabbitmq
lxml
Markdown
MarkupSafe
mock
newrelic
oauthlib
paramiko
pbr
Pillow
psycopg2
pyasn1
pycparser
pycrypto
pygeoip
Pygments
PyJWT
pyparsing
pyquery
python-dateutil
python-docx
python-memcached
python-nvd3
python-openid
python-slugify
python-social-auth
pytz
PyYAML
requests
requests-oauthlib
setuptools-git
simplejson
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sqlparse
tzlocal
unicodecsv
Unidecode
waitress
wsgiref