{% load i18n %}
{% load bootstrap %}
{% load currency_filter %}
{% load get_item %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            {% if background_tasks %}
                <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th width="20%">{% blocktrans %}Date{% endblocktrans %}</th>
                    <th width="40%">{% blocktrans %}Log Entry{% endblocktrans %}</th>
                    <th width="20%">{% blocktrans %}Start Time{% endblocktrans %}</th>
                    <th width="20%">{% blocktrans %}Completed Time{% endblocktrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for action in background_tasks %}
                    <tr>
                        <td>{{ action.timestamp }}</td>
                        <td>{% trans "User:" %} '{{ request.user }}' {% trans "Background Task" %} / {{ action.verb }} {% trans "Job" %} '{{ action.action_object_name }}'</td>
                        {% get_background_task action.action_object_id as bg_task %}
                        <td>{{ bg_task.created  }}</td>
                        <td>{{ bg_task.completed }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            {% else %}
                {% blocktrans %}No History Log for Background Tasks{% endblocktrans %}
            {% endif %}
        </div>
    </div>
{% endblock %}
